html {
    font: 15px/1.4 sans-serif;
        font-weight: normal;
        font-size: 15px;
        font-family: sans-serif;
    font-family: segoe ui,helvetica neue,Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,fira sans,droid sans,sans-serif;
    font-weight: 400;
    color: #fff;
    word-wrap: break-word;
}

.p-nav {
    background: rgba(0,0,0,.5);
    backdrop-filter: saturate(180%) blur(2rem);
}

.p-header {
    background: rgba(0,0,0,.5);
}

.block-container {
    background: #1e1e1e;
    border-radius: 15px;
    border: 1px solid #516040;
}

.block-header {
    padding: 6px 10px;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #8bc34a;
    background: #31441b;
}

.block-container:not(.block-container--noStripRadius) > :first-child, .block-topRadiusContent, .block-container:not(.block-container--noStripRadius) > .block-body:first-child > .blockLink:first-child {
    border-radius: 15px;
}


.p-pageWrapper {
    background-color: #222;
}

.p-nav-list .p-navEl.is-selected {
    background-color: #31441b;
}

.p-nav-list .p-navEl.is-selected {
    color: #8bc34a;
    font-weight: 700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.p-sectionLinks {
    font-size: 13px;
    background: #31441b;
}

a:hover {
    color: #8bc34a;
    text-decoration: underline;
}

a {
    color: #8bc34a;
    text-decoration: none;
}

.block-footer {
    padding: 6px 10px;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #8bc34a;
    background: #31441b;
    border-radius: 15px;
}

.block-container:not(.block-container--noStripRadius) > :last-child, .block-bottomRadiusContent, .block-container:not(.block-container--noStripRadius) > .block-body:last-child > .blockLink:last-child, .block-container:not(.block-container--noStripRadius) > .tabPanes:last-child > [role="tabpanel"] > :last-child, .block-container:not(.block-container--noStripRadius) > .tabPanes:last-child > [role="tabpanel"] > .block-body > :last-child {
    border-radius: 15px;
}

.button.button--cta, a.button.button--cta {
    color: #7cae42;
    background: #31441b;
    border-radius: 15px;
    border-color: #0000;
}

.button, a.button {
    border-color: transparent;
}

.message-cell.message-cell--user, .message-cell.message-cell--action {
    border-right: 1px solid #0000;
}

.block--messages .message-inner .message-cell {
    border-radius: 15px;
}

.message-cell.message-cell--user, .message-cell.message-cell--action {
    position: relative;
    background: #2b2b2b;
    min-width: 0;
}

.block--messages .message-inner .message-cell {
    border-radius: 15px !important;
}

.reactionsBar {
    transition: all .25s ease,-xf-opacity .25s ease;
    transition-property: all,-xf-height;
    background: #0000;
    border: 1px solid rgba(255,255,255,.12);
    font-size: 12px;
    border-radius: 15px;
}

.bbCodeBlock {
    display: flow-root;
    margin: .5em 0;
    background: #1f2b11;
    border: 1px solid rgba(255,255,255,.12);
    border-left: 3px solid #8bc34a;
    border-radius: 15px;
}

.block--messages .message, .block--messages .block-row {
    color: #fff;
    background: #1e1e1e;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border: 1px solid #516040;
}

.bbCodeBlock-title {
    padding: 6px 10px;
    font-size: 13px;
    color: #8bc34a;
    background: #1f2b11;
}

.block:not(.block--messages) .block-container:not(.block-container--noStripRadius) > .block-body:last-child > .message:last-child .message-inner:last-of-type .message-cell:first-child, .block:not(.block--messages) .block-bottomRadiusContent.message .message-inner:last-of-type .message-cell:first-child, .block:not(.block--messages) .block-bottomRadiusContent > .message:last-child .message-inner:last-of-type .message-cell:first-child {
    border-radius: 15px;
}

.button.button--primary:not(.button--splitTrigger):hover, a.button.button--primary:not(.button--splitTrigger):hover, .button.button--primary.button--splitTrigger > .button-text:hover, a.button.button--primary.button--splitTrigger > .button-text:hover, .button.button--primary.button--splitTrigger > .button-menu:hover, a.button.button--primary.button--splitTrigger > .button-menu:hover, .button.button--primary:not(.button--splitTrigger):focus, a.button.button--primary:not(.button--splitTrigger):focus, .button.button--primary.button--splitTrigger > .button-text:focus, a.button.button--primary.button--splitTrigger > .button-text:focus, .button.button--primary.button--splitTrigger > .button-menu:focus, a.button.button--primary.button--splitTrigger > .button-menu:focus, .button.button--primary:not(.button--splitTrigger):active, a.button.button--primary:not(.button--splitTrigger):active, .button.button--primary.button--splitTrigger > .button-text:active, a.button.button--primary.button--splitTrigger > .button-text:active, .button.button--primary.button--splitTrigger > .button-menu:active, a.button.button--primary.button--splitTrigger > .button-menu:active {
    background-color: #8bc34a;
}

.button.button--primary, a.button.button--primary {
    color: #fff;
    background: #8bc34a;
    min-width: 80px;
    border-radius: 15px;
}

.button.button--link, a.button.button--link {
    background: #31441b;
    color: #8bc34a !important;
    border-radius: 15px;
}

.fr-box.fr-basic {
    background: #222;
    border: solid 1px rgba(255,255,255,.12);
    border-color: var(--input-border-heavy) var(--input-border-light) var(--input-border-light) var(--input-border-heavy);
    border-radius: 15px;
    background-clip: padding-box;
}

.button.button--primary, a.button.button--primary {
    color: #fff;
    min-width: 80px;
    border-color: #0000;
}

.message-cell.message-cell--vote {
    position: relative;
    background: #2b2b2b;
    border-left: 1px solid rgba(255,255,255,.12);
    border-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.bbCodeInline {
    margin: 0;
    font-size: 80%;
    background: #1f2022;
    border: 1px solid rgba(255,255,255,.12);
    border-radius: 7px;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
    font-family: Monaco,Menlo,Consolas,roboto mono,andale mono,ubuntu mono,monospace;
    line-height: 1.4;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    white-space: pre-wrap;
}

.menu-content {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 13px;
    color: #fff;
    background: #1e1e1e;
    border-radius: 15px;
        border-top-right-radius: 15px;
    border-top: 3px solid #484d56;
}

.menu {
    display: none;
    opacity: 0;
    -webkit-transition: all .25s ease,-xf-opacity .25s ease;
    transition: all .25s ease,-xf-opacity .25s ease;
    position: absolute;
    z-index: 200;
    margin: 8px 0 0;
    min-width: 240px;
    max-width: 320px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.35);
}

.menu-tabHeader .tabs-tab.is-active {
    color: #fff;
    border-color: #8bc34a;
}

.menu-tabHeader {
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    color: #8bc34a;
    border-bottom: 1px solid rgba(255,255,255,.12);
    background: #2b2b2b;
    font-size: 0;
}

.menu-row.menu-row--alt {
    color: #fff;
    background: #2b2b2b;
}

.alert.is-unread {
    color: #fff;
    background: #31441b;
    border-radius: 15px;
}

.blockLink:hover {
    background: #1a240e;
    text-decoration: inherit;
}

.blockLink.is-selected {
    font-weight: 700;
    background: #31441b;
    border-left: 3px solid #8bc34a;
    padding-left: 7px;
}

.fr-box.fr-basic {
    background: #222;
    border: solid 1px rgba(255,255,255,.12);
    border-color: #8bc34a;
    border-radius: 15px;
    background-clip: padding-box;
}

.fr-box.fr-basic {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.message-responseRow {
    margin-top: -1px;
    background: #21232600;
    border: 1px solid rgba(255,255,255,0.12);
    padding: 6px;
    border-radius: 15px;
}

.block-tabHeader {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #42464d;
    background: #31441b;
    border-bottom: 1px solid rgba(255,255,255,.12);
    font-size: 0;
}

.block-tabHeader {
    color: #8bc34a;
}

.block-filterBar {
    padding: 6px 10px;
    font-size: 13px;
    color: #8bc34a;
    border-bottom: 1px solid rgba(255,255,255,.12);
    background: #31441b;
}

.blockStatus {
    color: #fff;
    background: #1e1e1e;
    border-width: 1px;
    border: 1px solid rgba(255,255,255,.12);
    border-left-color: rgba(255,255,255,.12);
    border-left: 3px solid #8bc34a;
    border-radius: 15px;
    margin: 0;
    padding: 6px 0;
    font-size: 13px;
    text-align: left;
}

.userBanner {
    font-size: 75%;
    font-weight: 400;
    font-style: normal;
    padding: 1px 6px;
    border: 1px solid transparent;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

.userBanner.userBanner--staff, .userBanner.userBanner--primary {
    color: #fff;
    background: #8bc34a;
    border-color: #5f6672;
    border-color: #2196f300;
}

.label.label--yellow {
    color: #000;
    background: #ff0;
    border-color: #ffffc4;
    border-color: #e6e687;
}

.label.label--skyBlue {
    color: #fff;
    background: #0058ff !important;
    border-color: #30c3ff !important;
}

.label.label--primary {
    color: #fff;
    background: #01512f !important;
    border-color: #326893 !important;
}

.message--solution .message-cell.message-cell--vote {
    background: #01512f;
}

.block:not(.block--messages) .block-container:not(.block-container--noStripRadius) > .block-body:first-child > .message:first-child .message-inner:first-of-type .message-cell:first-child, .block:not(.block--messages) .block-topRadiusContent.message .message-inner:first-of-type .message-cell:first-child, .block:not(.block--messages) .block-topRadiusContent > .message:first-child .message-inner:first-of-type .message-cell:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px !important;
}

.message-cell.message-cell--solutionHeader {
    color: #fff;
    font-size: 17px;
    background: #01512f;
    border-left: 3px solid #63b265;
}

.fr-box.fr-basic.is-focused {
    background: #2d2d2d;
}

.fr-box.fr-basic .fr-toolbar.fr-top {
    background: #31441b00 !important;
    border-radius: 15px;
}

.userBanner.userBanner--skyBlue {
    color: #fff;
    background: #8bc34a;
    border-color: #a5d6ea00;
    border-radius: 15px;
}

.message-articleUserInfo {
    background: #2b2b2b;
    border-top: 1px solid rgba(255,255,255,.12);
    border-radius: 15px !important;
}

.p-nav-list .p-navEl {
    color: #c8c8c8;
    text-decoration: none;
    background: #19191900;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.bbCodeBlock--code.bbCodeBlock--screenLimited .bbCodeBlock-header .bbCodeBlock-actions {
    display: flex;
    padding-right: 4px;
    background: #0000;
}

.fa, .fas, .far, .fal, .fad, .fab {
    color: rgb(127, 178, 69) !important;
}

a {
    color: #84b846 !important;
}
